# Programming Assignment 1.1
thirdparty/percolation.zip
thirdparty/PercolationStats.java
thirdparty/Percolation.java
py/AlgsSedgewickWayne/Percolation.py
py/AlgsSedgewickWayne/PercolationStats.py

# Programming Assignment 1.2
thirdparty/queues.zip
thirdparty/Deque.java
thirdparty/RandomizedQueue.java
thirdparty/Subset.java
py/AlgsSedgewickWayne/Deque.py
py/AlgsSedgewickWayne/RandomizedQueue.py
py/AlgsSedgewickWayne/Subset.py

# Programming Assignment 1.3
thirdparty/collinear.zip
thirdparth/Point.java
thirdparth/Brute.java
thirdparth/Fast.java
py/AlgsSedgewickWayne/Point.py
py/AlgsSedgewickWayne/Brute.py
py/AlgsSedgewickWayne/Fast.py

# Programming Assignment 1.4
thirdparty/8puzzle.zip
thirdparty/Board.java
thirdparty/Solver.java
py/AlgsSedgewickWayne/Board.py
py/AlgsSedgewickWayne/Solver.py

# Programming Assignment 1.5
thirdparty/kdtree.zip
thirdparty/PointSET.java
thirdparty/KdTree.java
py/AlgsSedgewickWayne/PointSET.py
py/AlgsSedgewickWayne/KdTree.py

# Programming Assignment 2.1: WordNet
thirdparty/wordnet.zip
thirdparty/SAP.java
thirdparty/WordNet.java
thirdparty/Outcast.java
py/AlgsSedgewickWayne/SAP.py
py/AlgsSedgewickWayne/WordNet.py
py/AlgsSedgewickWayne/Outcast.py

# Programming Assignment 2.2: Content-Aware Resizing
thirdparty/seamCarving.zip
thirdparty/SeamCarver.java
py/AlgsSedgewickWayne/SeamCarver.py

# Programming Assignment 2.3: Baseball Elimination
thirdparty/baseball.zip
thirdparty/BaseballElimination.java
py/AlgsSedgewickWayne/BaseballElimination.py

# Programming Assignment 2.4: Boggle
thirdparty/boggle.zip
thirdparty/BoggleSolver.java
py/AlgsSedgewickWayne/BoggleSolver.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

