# Programming Assignment 1
thirdparty/PercolationStats.java
thirdparty/Percolation.java
thirdparty/percolation.zip
py/AlgsSedgewickWayne/Percolation.py
py/AlgsSedgewickWayne/PercolationStats.py

# Programming Assignment 2
thirdparty/Deque.java
thirdparty/RandomizedQueue.java
thirdparty/Subset.java
py/AlgsSedgewickWayne/Deque.py
py/AlgsSedgewickWayne/RandomizedQueue.py
py/AlgsSedgewickWayne/Subset.py
thirdparty/queues.zip

# Programming Assignment 3
thirdparth/Point.java
thirdparth/Brute.java
thirdparth/Fast.java
py/AlgsSedgewickWayne/Point.py
py/AlgsSedgewickWayne/Brute.py
py/AlgsSedgewickWayne/Fast.py
thirdparty/collinear.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

